In [47]:
import os
import sys
import json
import urllib.request
from datetime import date
client_id = "nA8Iwm4HJ6EM2W1dueU9"
client_secret = "HaEPQCPbyQ"
url = "https://openapi.naver.com/v1/datalab/search"

body="{\"startDate\":\"2016-12-21\",\"endDate\":\"2017-01-21\",\"timeUnit\":\"date\",\"keywordGroups\":[{\"groupName\":\"영화\",\"keywords\":[\"마스터\"]}]}"
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
       
    d = json.loads(response_body)
#     print(response_body.decode('utf-8'))
    with open('test.json', 'w', encoding="utf-8") as make_file:
        json.dump(d, make_file, ensure_ascii=False, indent="\t")
else:
    print("Error Code:" + rescode)

In [48]:
d

{'startDate': '2016-12-21',
 'endDate': '2017-01-21',
 'timeUnit': 'date',
 'results': [{'title': '영화',
   'keywords': ['마스터'],
   'data': [{'period': '2016-12-21', 'ratio': 100},
    {'period': '2016-12-22', 'ratio': 67.25376},
    {'period': '2016-12-23', 'ratio': 63.16494},
    {'period': '2016-12-24', 'ratio': 76.77731},
    {'period': '2016-12-25', 'ratio': 71.32373},
    {'period': '2016-12-26', 'ratio': 47.41061},
    {'period': '2016-12-27', 'ratio': 35.08487},
    {'period': '2016-12-28', 'ratio': 36.52458},
    {'period': '2016-12-29', 'ratio': 32.97789},
    {'period': '2016-12-30', 'ratio': 33.1162},
    {'period': '2016-12-31', 'ratio': 38.15779},
    {'period': '2017-01-01', 'ratio': 36.54388},
    {'period': '2017-01-02', 'ratio': 25.39143},
    {'period': '2017-01-03', 'ratio': 20.3955},
    {'period': '2017-01-04', 'ratio': 17.82928},
    {'period': '2017-01-05', 'ratio': 16.095},
    {'period': '2017-01-06', 'ratio': 18.19835},
    {'period': '2017-01-07', 'ratio': 23.44843},
    {'period': '2017-01-08', 'ratio': 23.18066},
    {'period': '2017-01-09', 'ratio': 13.93238},
    {'period': '2017-01-10', 'ratio': 11.41658},
    {'period': '2017-01-11', 'ratio': 10.30234},
    {'period': '2017-01-12', 'ratio': 9.19331},
    {'period': '2017-01-13', 'ratio': 10.82221},
    {'period': '2017-01-14', 'ratio': 13.59034},
    {'period': '2017-01-15', 'ratio': 13.70526},
    {'period': '2017-01-16', 'ratio': 9.25373},
    {'period': '2017-01-17', 'ratio': 7.34797},
    {'period': '2017-01-18', 'ratio': 9.97142},
    {'period': '2017-01-19', 'ratio': 6.93007},
    {'period': '2017-01-20', 'ratio': 5.90077},
    {'period': '2017-01-21', 'ratio': 6.23941}]}]}

In [49]:
d['results'][0]['data']

[{'period': '2016-12-21', 'ratio': 100},
 {'period': '2016-12-22', 'ratio': 67.25376},
 {'period': '2016-12-23', 'ratio': 63.16494},
 {'period': '2016-12-24', 'ratio': 76.77731},
 {'period': '2016-12-25', 'ratio': 71.32373},
 {'period': '2016-12-26', 'ratio': 47.41061},
 {'period': '2016-12-27', 'ratio': 35.08487},
 {'period': '2016-12-28', 'ratio': 36.52458},
 {'period': '2016-12-29', 'ratio': 32.97789},
 {'period': '2016-12-30', 'ratio': 33.1162},
 {'period': '2016-12-31', 'ratio': 38.15779},
 {'period': '2017-01-01', 'ratio': 36.54388},
 {'period': '2017-01-02', 'ratio': 25.39143},
 {'period': '2017-01-03', 'ratio': 20.3955},
 {'period': '2017-01-04', 'ratio': 17.82928},
 {'period': '2017-01-05', 'ratio': 16.095},
 {'period': '2017-01-06', 'ratio': 18.19835},
 {'period': '2017-01-07', 'ratio': 23.44843},
 {'period': '2017-01-08', 'ratio': 23.18066},
 {'period': '2017-01-09', 'ratio': 13.93238},
 {'period': '2017-01-10', 'ratio': 11.41658},
 {'period': '2017-01-11', 'ratio': 10.30234},
 {'period': '2017-01-12', 'ratio': 9.19331},
 {'period': '2017-01-13', 'ratio': 10.82221},
 {'period': '2017-01-14', 'ratio': 13.59034},
 {'period': '2017-01-15', 'ratio': 13.70526},
 {'period': '2017-01-16', 'ratio': 9.25373},
 {'period': '2017-01-17', 'ratio': 7.34797},
 {'period': '2017-01-18', 'ratio': 9.97142},
 {'period': '2017-01-19', 'ratio': 6.93007},
 {'period': '2017-01-20', 'ratio': 5.90077},
 {'period': '2017-01-21', 'ratio': 6.23941}]

In [50]:
import pandas as pd

In [51]:
df = pd.DataFrame(d['results'][0]['data'])
df

        period      ratio
0   2016-12-21  100.00000
1   2016-12-22   67.25376
2   2016-12-23   63.16494
3   2016-12-24   76.77731
4   2016-12-25   71.32373
5   2016-12-26   47.41061
6   2016-12-27   35.08487
7   2016-12-28   36.52458
8   2016-12-29   32.97789
9   2016-12-30   33.11620
10  2016-12-31   38.15779
11  2017-01-01   36.54388
12  2017-01-02   25.39143
13  2017-01-03   20.39550
14  2017-01-04   17.82928
15  2017-01-05   16.09500
16  2017-01-06   18.19835
17  2017-01-07   23.44843
18  2017-01-08   23.18066
19  2017-01-09   13.93238
20  2017-01-10   11.41658
21  2017-01-11   10.30234
22  2017-01-12    9.19331
23  2017-01-13   10.82221
24  2017-01-14   13.59034
25  2017-01-15   13.70526
26  2017-01-16    9.25373
27  2017-01-17    7.34797
28  2017-01-18    9.97142
29  2017-01-19    6.93007
30  2017-01-20    5.90077
31  2017-01-21    6.23941

In [52]:
df.to_csv('145162_datalab_161221_170121.csv',index=False)